<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Advanced CI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
<header>
    <nav class="site-nav navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Ivaylo Zashev's site</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Java script</a></li>
                <li><a href="#">Agile</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul>
                <li><a href="create-job">Create job</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="build-histоry">Build History</a></li>
                <li><a href="#">Users</a></li>
            </ul>
        </div>
        <div class="col-lg-9">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Log File</th>
                </tr>
                </thead>
                <tbody id="history-body">

                </tbody>
            </table>
            <div id="pages" style="display: inline">
            </div>
        </div>
    </div>
</div>
<footer>
    This is the footer
</footer>
<script src="/lib/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="/lib/download.js"></script>
<script src="/js/build-history.js"></script>
</body>
</html>